/* Color variables exported to style.scss*/

$clr-primary: hsl(65.7,74.8%,49.8%);
$clr-secondary: hsl(219.6,95.7%,27.6%);
$clr-lime-green: hsl(159.6,95.2%,32.7%);
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);
$clr-btn-hover: hsl(65.4,75.1%,34.7%);
/* Color variables exported to style.scss*/

$clr-pale-white: hsl(210, 100%, 98.8%);
$clr-light-gray: hsl(0, 0%, 94.9%);
$clr-dark-blue: hsl(240, 3.3%, 11.8%);
$clr-vivid-blue: hsl(216.6, 83.7%, 52%);
$clr-bg-footer: hsl(208.8, 66.7%, 14.1%);
