/* Color variables exported to style.scss*/
$clr-primary: #fff;
$clr-secondary: hsl(221.6, 83.7%, 52%);
$clr-pale-white: hsl(210, 100%, 98.8%);
$clr-white: hsl(0, 0%, 100%);
$clr-light-gray: hsl(0, 0%, 94.9%);
$clr-dark-blue: hsl(240, 3.3%, 11.8%);
$clr-vivid-blue: hsl(216.6, 83.7%, 52%);
$clr-black: hsl(0, 0%, 0%);
$clr-bg-footer: hsl(208.8, 66.7%, 14.1%);
