@import "colors";
@import "fonts";

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
label,
input,
li,
a {
  font-family: "Avenir Next LT W01 Condensed";
  color: var(--color-white);
  text-decoration: none;
  list-style-type: none;
}



/* make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}
.uppercase {
  text-transform: uppercase;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}




.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
/* make form elements easier to work with*/
input,
button,
textarea,
select {
  font-family: "Avenir Next LT W01 Condensed";
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
button {
  border: none;
  border-radius: 3px;
  color: $clr-primary;
  display: inline-block;
  width: 100%;
  background-color: $clr-vivid-blue;
  padding: 18px 48px;
  font-weight: 400;
  font-size: 100%;
  line-height: normal;
  font-family: "Avenir Next LT W01 Demi Cond";
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  opacity: 1;

}