@use "colors";

.nav-header {
  background-image: url("../assets/images/bannerBg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;

  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;

    .nav-left {
      display: flex;
      flex-wrap: wrap;

      svg {
        cursor: pointer;
        border-radius: 5px;
      }
    }

    .nav-center {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      .ul-orderedList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        li {
          margin: 0 25px;
          padding: 8px;
          border-radius: 10px;

          a {
          display: flex;
          //justify-content: center;
          text-align: center;
            font-size: var(--fs-300);
            color: colors.$clr-pale-white;
            font-family: "Avenir Next LT W01 Demi Cond";
            text-transform: uppercase;
            -webkit-transition: color .5s ease-out;
            -moz-transition: color .5s ease-out;
            -o-transition: color .5s ease-out;
            transition: color .5s ease-out;

            &:hover {
              -webkit-transition: color .5s ease-out;
              -moz-transition: color .5s ease-out;
              -o-transition: color .5s ease-out;
              transition: color .5s ease-out;
              color: colors.$clr-primary;
            }
          }

          /// here submenu starts
          .sub-menu {
            display: none;
            position: absolute;
            overflow: auto;
            background-color: colors.$clr-btn-hover;
            margin-top: 5px;
            min-width: 150px;
            border-radius: 10px;

            ul {
              padding: 15px 0;

              li {
                padding: 5px 15px;

                a {
                  color: colors.$clr-white;
                  padding: 15px 0;
                }

                &:hover {
                  a {
                    color: colors.$clr-primary;
                  }
                }
              }
            }
          }

          &:hover .sub-menu {
            display: block;
          }

          /// here submenu ends

        }
      }
    }


    .nav-right {
      .nav-btn {
        cursor: pointer;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out;

        a {
          -webkit-transition: color .5s ease-out;
          -moz-transition: color .5s ease-out;
          -o-transition: color .5s ease-out;
          transition: color .5s ease-out;
          color: colors.$clr-black;
          font-family: "Avenir Next LT W01 Bold Cond";
          font-size: var(--fs-300);
        }

        &:hover {
          background-color: colors.$clr-btn-hover;

          a {
            color: colors.$clr-secondary;
          }
        }
      }
    }
  }
}